* {
  cursor: default;
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
}
.app {
  width: 100%;
}

button {
  cursor: pointer;
  width: 120px;
  height: 30px;
  justify-self: center;
  border-radius: 10px;
  border: 1px solid rgb(45, 143, 255);
  background-color: rgba(0, 81, 173, 0.527);
  color: #fff;
}
button:active {
  transform: scale(0.9) translateY(5px);
}

input {
  height: 30px;
  align-self: center;
  border-radius: 10px;
  border: 1px solid rgb(45, 143, 255);
  padding: 2px 7px 2px 7px;
  outline: none;
  justify-self: center;
}
